.adopts{
    .container{
        .row{
            margin-bottom: 100px;
            .parents{
                .parentpn{
                    width: 350px;
                    height: 350px;
                }
                .loremip2{
                    font-size: 13.6px;
                    color: #868EA4;
                }
                .adoptbt2{
                    border: 1px solid #BC5148;
                    color: #BC5148;
                    background-color: white;
                    border-radius: 4px;
                    padding: 7px;
                    font-size: 14px;
                    font-weight: 400;
                    &:hover{
                        background-color: #BC5148;
                        color: white;
                        transition: 0.5s;
                    }
            }
        }
        .accordions{
            margin-top: 150px;
            .accordion {
                background-color: #eee;
                color: #444;
                cursor: pointer;
                padding: 18px;
                width: 100%;
                text-align: left;
                border: none;
                outline: none;
                transition: 0.4s;
              }
              
              .active, .accordion:hover {
                background-color: #ccc;
              }
              
              .panel {
                padding: 0 18px;
                background-color: white;
                display: none;
                overflow: hidden;
              }
        }
    }
}
}